<a id="homebutton" href="/requests/new">Home</a>
</br>
<body id="show">
<p id="notice"><%= notice %></p>

<p id="trackname">
  <%= @track.name %>
</p>
<div id="box">
	<strong>
	<%= @response %>
	</br>
	<iframe id="iframe" src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
	</strong>
</div>
</br>
<%= link_to 'Back', tracks_path %>
</body>