  <%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<span id = "search">
  <div class="field" id="field">
    <input id="request_artist" name="request[artist]" type="search" placeholder="Enter artist name" %= f.search_field :artist %>
    <input name="commit" id="commit" type="submit" value="Search">
  </div>

</span>
<% end %>
