<body id="body">
<div id="header">
	<!-- <img src="assets\images\playset background image.jpg" id="header_image"> -->
<h1 id="title">PlaySet</h1>


<h2 id="subheader">play any concert setlist on spotify*</h2>

<%= render 'form' %>
</div>

<p id="disclaimer">*Note Spotify integration coming soon. Won't really play any concert setlist on spotify or anywhere else.
</p>	
</body>
