// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#header {
	background-color: #84bd00;
	background-opacity: 50%;
    width: 100%;
    text-align: center;
    position: relative;
    border-style: solid;
    border-color: white;
    border-left: 0;
    border-right: 0;
}

#title {
	color: white;
	font-family: Tahoma;
	position: center;
}

#body{
	background-color: #333332;
	color: white;
}

#field {
	float: center;
}

#subheader {
	font-family: Tahoma;
	color: white;
	font-variant: small-caps;
}

#commit {
	border-radius: 6px;
	background-color: #0097bd;
	color: white;
}

#request_artist {
	border-radius: 10px;
	border: none;
	color: black;
}

#show {
	background-color: #333332;
	color: white;
}

#loop {
	color: white;
	font-size: 16px;
}

#artist {
	font-size: 24px;
}

#homebutton {
	text-align: left;
	color: white;
	font-style: italic;
}